{% autoescape off %}
<p>Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta en <a href="http://{{ domain }}">http://{{ domain }}</a>.</p>

<p>Por favor, vaya a la página siguiente y escoja una nueva contraseña:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a></p>

<p><strong>Su nombre de usuario, en caso de que lo haya olvidado:</strong> {{ user.get_username }}</p>

<p>¡Gracias por usar nuestro sitio!</p>

<p>El equipo de <a href="http://{{ domain }}">http://{{ domain }}</a></p>
{% endautoescape %}
