{% extends "plantilla.html" %}
{% block title %}<title>Deshabilitar Campaña</title>{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>¿Estás seguro de que deseas deshabilitar la campaña <strong>{{ campana.nombre_campana }}</strong>?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, deshabilitar</button>
        <a href="{% url 'usuarios:registrar_campana' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}