{% extends "plantilla.html" %}

{% block title %} <title>Registrar Proveedor</title>{% endblock %}

{% load static %}
{% block content %}
{% include 'components/header.html' %}

<header class="page-header">
    <div class="container">
        <!-- <nav class="breadcrumb">
            <span class="breadcrumb-item">Inicio</span>
            <span class="breadcrumb-item">Equipos</span>
            <span class="breadcrumb-item active">Registrar Acta</span>
        </nav> -->
        <h1><i class="fas fa-desktop"></i> Registrar Proveedor</h1>
        <p>Sistema de Gestión de Equipos Informáticos</p>
    </div>
</header>

<div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.nombre_proveedor.label_tag }}
            {{ form.nombre_proveedor }}
        </div>
        <div class="mb-3">
            {{ form.estado.label_tag }}
            {{ form.estado }}
        </div>
        <button type="submit" class="btn btn-success">Registrar</button>
    </form>

    <hr>

    <form method="get" class="mb-3 d-flex" style="gap: 10px; max-width: 400px;">
        <input type="text" name="buscar" placeholder="Buscar Proveedor..." value="{{ buscar }}" class="form-control" />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <h4>Proveedores Registrados</h4>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                
                <td>{{ proveedor.nombre_proveedor }}</td>
                <td>{{ proveedor.estado }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No hay proveedores registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
