{% extends 'plantilla.html' %}
{% block title %} <title>Registrar Acta de Proveedor</title>{% endblock %}

{% block content %}
{% include 'components/header.html' %}
<header class="page-header">
    <div class="container">
        <h1><i class="fa-solid fa-handshake"></i> Registrar Acta de Proveedor</h1>
    </div>
</header>
<!-- contenedor principal -->
<main class="main-container-actas">
    <div class="form-wrapper">
        <!-- contenedor del formulario -->
        <div class="form-container">
            <!-- formulario -->
            <form method="post">
                {% csrf_token %}
                {% for form in form %}
                <div>
                    <label for="{{form.label}}">{{ form.label }}</label>
                    {{form}}
                </div>
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" class="btn-submit">
                        <i class="fas fa-save"></i>
                        Registrar Acta
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- mensajes de alerta Estiven: pasar a diccionario si quiere -->
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        icon: '{% if "success" in message.tags %}success{% elif "error" in message.tags %}error{% elif "warning" in message.tags %}warning{% else %}info{% endif %}',
        title: '{{ message.tags|capfirst }}',
        text: '{{ message }}',
        confirmButtonText: 'OK'
    });
</script>
{% endfor %}
{% endif %}
{% endblock %}