{% extends 'plantilla.html' %}
{% load static %}
{% block content %}

<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Mostrar solo si viene ?logout=1 -->
{% if request.GET.logout %}
<script>
Swal.fire({
  icon: 'success',
  title: '¡Sesión cerrada!',
  text: 'Tu sesión ha finalizado correctamente',
  confirmButtonText: 'OK'
});
</script>
{% endif %}

<!-- Errores de Django -->
{% if messages %}
{% for message in messages %}
<script>
Swal.fire({
    icon: '{{ message.tags }}',  // Esto puede ser 'error', 'warning', etc.
    title: '{{ message.tags|capfirst }}',
    text: '{{ message }}',
    confirmButtonText: 'OK'
});
</script>
{% endfor %}
{% endif %}

<!-- Formulario de login -->
<div class="container-form">
    <div class="row">
        <div class="col-md-5">
            <div class="image-container d-flex justify-content-center align-items-center"></div>
        </div>
        <div class="col-md-7 d-flex justify-content-center align-items-center">
            <form method="post" class="fom-login p-4 rounded">
                <h2 class="text-center">Ingresar</h2>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn-primary btn-block w-100 boton">Iniciar Session</button>
                <p class="text-center mt-2">
                    <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                </p>
            </form>
        </div>
    </div>
</div>

<!-- Ocultar campo como contraseña -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let docInput = document.getElementById("id_document_user");
        if (docInput) {
            docInput.type = "password";
        }
    });
</script>

{% endblock %}
